body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}

.contenedor{
  margin-top: 20px;
}
.navbar {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, rgb(89, 0, 172), rgb(146, 0, 231));
  height: 45px;
  padding: 10px 15px 10px;
  width: auto;
  color: white;
}

.navbar-logo {
  width: 40px;
  height: 30px;
}

.navbar-title {
  font-size: 20px;
  margin-right: auto;
  margin-left: 10px;
}

.navbar-project {
  font-size: 12px;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form-input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #000;
  text-indent: 5px;
}

.form-button {
  font-family: "Karla", sans-serif;
  grid-column: 1/-1;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(to right, rgb(89, 0, 172), rgb(146, 0, 231));

}

.form-meme {
  width: 400px;
  height: 400px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
  left: 500px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}