body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main{
  padding: 36px;
}

.navbar {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, rgb(89, 0, 172), rgb(146, 0, 231));
  height: 45px;
  padding: 10px 15px 10px;
  width: auto;
  color: white;
}

.navbar-logo {
  width: 40px;
  height: 30px;
}

.navbar-title {
  font-size: 20px;
  margin-right: auto;
  margin-left: 10px;
}

.navbar-project {
  font-size: 12px;
  font-weight: 500;
}

.form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form-input{
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #000;
  text-indent: 5px;
}

.form-button{
  font-family: "Karla", sans-serif;
  grid-column: 1/-1;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(to right, rgb(89, 0, 172), rgb(146, 0, 231));
  
}

.form-meme{
  width: 300px;
  height: 300px;
  max-width: 100%;
}